@model MvcBartender.ViewModels.DrinkOrderConfirmationViewModel
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<p>Your order total is @Model.TotalPrice, and your Order ID is @Model.OrderId</p>